<div class="row">
	<div class="col-lg-12 col-xxl-12">
		<div class="card card-custom bg-gray-100 card-stretch gutter-b">
			<!-- Header -->
			<div class="card-header border-0 bg-danger py-5">
				<h3 class="card-title font-weight-bolder text-white">{{ 'DASHBOARD.SERVICES' | translate }}</h3>
			</div>
			<!-- Body -->
			<div class="card-body p-0 position-relative overflow-hidden">
				<!--begin::Chart-->
				<div id="kt_mixed_widget_1_chart" class="card-rounded-bottom bg-danger"
					style="background-image: url('assets/media/bg/insat.jfif'); background-repeat: no-repeat; background-position: center; background-size: cover"
					[style.height]="'200px'">
				</div>
				<!--end::Chart-->
				<!--begin::Stats-->
				<div class="card-spacer mt-n25">
					<!--begin::Row-->
					<div class="row m-0">
						<a href="/applications/applications-list" class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7">
							<span [inlineSVG]="'./assets/media/svg/icons/General/Clipboard.svg'"
								class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"></span>
							<a href="/applications/applications-list" class="text-warning font-weight-bold font-size-h6">
								{{ 'DASHBOARD.APPLICATIONS' | translate }}
							</a>
						</a>
						<a *ngIf="athService.checkIfUserHasRole(roles.ADMIN)" href="papers/papers-list"
							class="col bg-light-primary px-6 py-8 rounded-xl mb-7">
							<span [inlineSVG]="'./assets/media/svg/icons/General/Duplicate.svg'"
								class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"></span>
							<a href="papers/papers-list" class="text-primary font-weight-bold font-size-h6 mt-2">
								{{ 'DASHBOARD.ADMIN_PAPERS' | translate }}
							</a>
						</a>
					</div>
					<!--end::Row-->
					<!--begin::Row-->
					<div class="row m-0">
						<a *ngIf="athService.checkIfUserHasRole(roles.ADMIN)" href="admin/users"
							class="col bg-light-danger px-6 py-8 rounded-xl mr-7">
							<span [inlineSVG]="'./assets/media/svg/icons/Communication/Address-card.svg'"
								class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"></span>
							<a href="admin/users" class="text-danger font-weight-bold font-size-h6 mt-2">
								{{ 'DASHBOARD.ADMIN_USERS' | translate }}
							</a>
						</a>
						<a *ngIf="athService.checkIfUserHasRole(roles.ADMIN)" href="admin/students"
							class="col bg-light-success px-6 py-8 rounded-xl">
							<span [inlineSVG]="
              './assets/media/svg/icons/Communication/Contact1.svg'
            " class="svg-icon svg-icon-3x svg-icon-success d-block my-2"></span>
							<a href="admin/students" class="text-success font-weight-bold font-size-h6 mt-2">
								{{ 'DASHBOARD.STUDENTS' | translate }}
							</a>
						</a>
					</div>
					<!--end::Row-->
				</div>
				<!--end::Stats-->
			</div>
		</div>
	</div>
	<div *ngIf="athService.checkIfUserHasRole(roles.ADMIN)" class="row">
		<div class="col-sm-12 col-lg-6 col-xxl-6">
			<app-logs></app-logs>
		</div>
		<div class="col-sm-12 col-lg-6 col-xxl-6">
			<app-daily-stats></app-daily-stats>
			<app-stats></app-stats>
		</div>
	</div>
</div>
