################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular_PFA/Angular_PFA/New folder
.vs