  <div class="card card-custom card-stretch card-stretch-half gutter-b">
    <!-- Body -->
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="font-weight-bolder text-dark">{{ 'DASHBOARD.STATS.NEW_ACTIVITIES' | translate }}</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ stats.created_apps }} {{ 'DASHBOARD.STATS.APPS' | translate }}</span>
        </h3>
    <div class="card-body custom-body">

      <!--begin::Chart-->
      <div
      id="chart"
      >
        <apx-chart
          [series]="(chartOptions | async).series"
          [chart]="(chartOptions | async).chart"
          [xaxis]="(chartOptions | async).xaxis"
          [stroke]="(chartOptions | async).stroke"
          [tooltip]="(chartOptions | async).tooltip"
          [labels]="(chartOptions | async).labels"
        ></apx-chart>
      </div>
      <!--end::Chart-->
      <!--end::Stats-->
    </div>
  </div>
