<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Paper's information
            </h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-secondary ml-2" routerLink="/student/papers-list">
                <i class="fa fa-arrow-left"></i>Back
            </a>
        </div>
    </div>
    <div class="card-body" *ngIf="(paperObservable|async) as paper" >
        <div class="row">
            <div class="col-12 text-center m-5">
                <h2>{{paper.label}}</h2>
            </div>
            <div class="col-12 text-center m-5">
                <h5>{{paper.requirements}}</h5>
            </div>
            <div class="col-12 text-center m-5">
                <button class="btn btn-light-primary" (click)="downloadFileHandler()">
                    Download Paper
                </button>
            </div>
            <div class="col-12 text-center m-5">
                <button class="btn btn-light-success" (click)="addNewApplication()">
                    Create New Application
                </button>
            </div>
        </div>
    </div>
</div>
